[manager]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
sort_sensitive = false
linemode = "size"

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "application/json", use = "edit" },
  { mime = "*/xml", use = "edit" },
]
